

body {
  background-color: #CEFDFF;
}

#column-wrapper {
  display: grid;
  grid-template-columns: 4fr minmax(25rem, 3fr);
  grid-template-areas: 
  'cookie upgrades';
  width: 100vw;
  height: 100vh;
}

#cookie-box {
  grid-area: cookie;
  background-color: #F9B9B7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#upgrade-box{
  grid-area: upgrades;
}

#cookie-image{
  height: 45vh;
  width: 45vh;
}

#cookie-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cookie-text{
  color:white;
  font-size: 3rem;
}

.producer-container{
  background-color: #507DBC;
  margin: 3rem;
  height: auto;
  width: auto;
  color: white;
}

.cannot-purchase{
  opacity: 30%;
}