
.producer-container{
    background-color: #507DBC;
    margin: 3rem;
    height: auto;
    width: auto;
    color: white;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .producer-container.purchasable:active{
    transform: scale(103%);
  }
  
  .producer-container.purchasable:hover{
    background-color: #6461A0;
    cursor: pointer;
  }
  
  .producer-container.not-purchasable{
    opacity: 30%;
  }
  
  .producer-info{
    display: flex;
    flex-direction: row;
    padding: 1rem;
  }
  
  .producer-info-child{
    flex: 1;
  }