
#upgrade-parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem 0.5rem;
    margin-top: 1rem;
}

#upgrade-container{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    gap: 0.5rem 0.5rem;
    margin: 1rem 3rem;
}

.upgrade-box{
    position: relative;
    display: flex;
    background-color: #F9B9B7;
    align-items: center;
    justify-content: center;    
    padding: 0.5rem 0.5rem;
    transition: background-color 0.3s;
}

#upgrade-image{
    height: 2rem;
    width: 2rem;
    transition: opacity 0.3s;
}

.upgrade-box:hover{
    background-color: #6461A0;
    cursor: pointer;
}

.upgrade-box:hover #upgrade-image{
    opacity: 50%;
}

#popup-content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transform: translate(0, 0px);
    padding: 1rem;
    background-color: #507DBC;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: auto;
    left: -200px;
}

.upgrade-box:hover #popup-content{
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(-30px, 0px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

#popup-info{
    text-align: center;
}